.card-title{
    font-family: "Great Vibes";
    font-size: 2rem;
    color: rgb(255, 0, 157);
}
.card-text{
    font-family: "Open Sans Condensed";
    color: #777777;
}
.price{
    font-family: "Open Sans Condensed";
    font-size: 1.25rem;
    color: rgb(255, 0, 157);
}
.btn-outline-primary{
    border-color:rgb(255, 0, 157);
    color:rgb(255, 0, 157);
}
.btn-outline-primary:hover{
    border-color:rgb(255, 0, 157);
    color:rgb(255, 0, 157);
}
.add-btn{
    display: flex;
    justify-content: end;
    font-family: "Open Sans Condensed";
}