<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">Pâtisserie</div>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-items"
                aria-expanded="false" aria-controls="nav-items">
            <div class="navbar-toggler-icon"></div>
        </button>
        <div class="collapse navbar-collapse" id="nav-items">
            <div class="navbar-nav">
                <a class="nav-link" routerLinkActive="active" routerLink="menu">Home</a>
                <a class="nav-link" routerLinkActive="active" routerLink="our-story">Our Story</a>
                <a class="nav-link" routerLinkActive="active" routerLink="login">Signup</a>
            </div>
        </div>
    </div>
</nav>
