<div class=" container">
    <h2>Our Story</h2>
    <div class="row">
        <div class="col-12 col-md-6 our-story-image">
            <img class=img-fluid src="assets/images/paris-street.png" alt="Hand drawn image of street in pair">
        </div>
        <div class="col-12 col-md-6 our-story-text">
            As a pastry shop, we made our humble beginnings from 1871 at Rue Aubé.
            Very quickly, we became the household name for pastries.
        </div>
        <hr>
        <div class="col-12 col-md-6 our-story-text">
            Our preparation of pastries is based on the Royal Cookery
            Book (1867) authored by Jules Gouffé.

        </div>
        <div class="col-12 col-md-6 our-story-image">
            <img class=img-fluid src="assets/images/book-cover-bw.png" alt="Book cover image of Royal Cookery Book">
        </div>
    </div>
</div>
